<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT mainText ANY>
<!ATTLIST mainText id ID #REQUIRED>
<!ELEMENT links ANY>
<!ATTLIST links id ID #REQUIRED>
<!ELEMENT header ANY>
<!ATTLIST header id ID #REQUIRED>
<!ELEMENT footer ANY>
<!ATTLIST footer id ID #REQUIRED>
<!ELEMENT descriptions ANY>
<!ATTLIST descriptions id ID #REQUIRED>
<!ELEMENT contactUs ANY>
<!ATTLIST contactUs id ID #REQUIRED>
<!ELEMENT abc ANY>
<!ATTLIST abc id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT content ANY>
<!ATTLIST content id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT trabalheConosco ANY>
<!ATTLIST trabalheConosco id ID #REQUIRED>
<!ELEMENT lojas ANY>
<!ATTLIST lojas id ID #REQUIRED>
<!ELEMENT productDetails ANY>
<!ATTLIST productDetails id ID #REQUIRED>
<!ELEMENT lojaDetatlhe ANY>
<!ATTLIST lojaDetatlhe id ID #REQUIRED>
<!ELEMENT produtos ANY>
<!ATTLIST produtos id ID #REQUIRED>
<!ELEMENT categories ANY>
<!ATTLIST categories id ID #REQUIRED>
<!ELEMENT conteudo ANY>
<!ATTLIST conteudo id ID #REQUIRED>
<!ELEMENT images ANY>
<!ATTLIST images id ID #REQUIRED>
<!ELEMENT produto ANY>
<!ATTLIST produto id ID #REQUIRED>
<!ELEMENT nameItemList ANY>
<!ATTLIST nameItemList id ID #REQUIRED>
]>
<root id="-1">
  <home id="1242" key="77d6907c-50f7-4cde-a123-fb515aa66aea" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-05-30T11:03:23" updateDate="2018-06-07T12:09:49" nodeName="Home" urlName="home" path="-1,1242" isDoc="" nodeType="1241" creatorName="Daione Pavan" writerName="Daione Pavan" writerID="0" template="1199" nodeTypeAlias="home" isPublished="true">
    <linksHeader><![CDATA[[{"key":"b7a8246e-06ca-4739-9470-f5d0c5c04f36","name":"Item 1","ncContentTypeAlias":"links","internalLinks":"umb://document/708c4b4fcbe2427e8e204383bb65f079","title":"Lojas"},{"key":"c276c676-c3dd-4239-81a2-426243e47e43","name":"Item 2","ncContentTypeAlias":"links","internalLinks":"umb://document/9635b61cc50d48aa81f2427d95ac1c35","title":"Produtos"},{"key":"7e9d6c9d-3951-4df4-bc0c-dad20ab295c1","name":"Item 3","ncContentTypeAlias":"links","internalLinks":"umb://document/b007eb182aa848b2b1374b0495349971","title":"Trabalhe Conosco"}]]]></linksHeader>
    <titleFooter><![CDATA[Footer ]]></titleFooter>
    <descriptionThings><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eleifend mi ac tellus gravida dignissim. Nulla neque dolor, auctor id odio vitae, tristique maximus dolor. Phasellus in purus dictum, tempor sapien at, pellentesque ipsum. Mauris bibendum diam lorem, et sodales sem porttitor eget. Vivamus interdum dapibus dapibus. Praesent eros erat, facilisis ac semper quis, aliquam eu urna. Sed tempus pellentesque dui, eget fringilla urna tincidunt eu. Donec convallis vel est consequat molestie. Sed sed arcu ac nunc laoreet convallis vitae ac nulla. Donec malesuada ante eget lectus luctus commodo. Sed quis congue velit, sit amet ultricies dui.]]></descriptionThings>
    <dTItle><![CDATA[Home Title]]></dTItle>
    <umbracoUrlAlias><![CDATA[h, g, o]]></umbracoUrlAlias>
    <pageKeywords><![CDATA[home]]></pageKeywords>
    <pageBreadcrumb>1</pageBreadcrumb>
    <description><![CDATA[Morbi volutpat imperdiet ligula nec luctus. Mauris in leo eu augue sodales pharetra. Donec tempus augue at neque viverra, et gravida nisi molestie. Nullam vitae sem dui. Vivamus scelerisque, ipsum ac pretium imperdiet, elit massa blandit turpis, et fermentum turpis lectus a dui. Integer nunc sem, dapibus ut egestas in, sagittis eget elit. Sed pulvinar condimentum elit in viverra. Curabitur ut ornare nunc, ut commodo dolor. Quisque vel eros nulla. Proin eget ipsum massa. Fusce mi orci, interdum in libero a, tincidunt blandit sem. Donec a aliquet justo. Praesent tempor bibendum malesuada. Donec vestibulum mauris non dui tincidunt interdum. Proin quis libero euismod, scelerisque sapien nec, molestie quam. Nunc turpis est, pulvinar a tristique nec, placerat et orci.]]></description>
    <title><![CDATA[Title]]></title>
    <conteudo id="1274" key="8cac76c2-0e0b-4c03-9607-01e92b76e56e" parentID="1242" level="2" creatorID="0" sortOrder="0" createDate="2018-06-06T11:58:56" updateDate="2018-06-07T12:38:42" nodeName="Estrutura do Site" urlName="estrutura-do-site" path="-1,1242,1274" isDoc="" nodeType="1269" creatorName="Daione Pavan" writerName="Daione Pavan" writerID="0" template="1268" nodeTypeAlias="conteudo" isPublished="true">
      <trabalheConosco id="1247" key="b007eb18-2aa8-48b2-b137-4b0495349971" parentID="1274" level="3" creatorID="0" sortOrder="1" createDate="2018-05-30T14:27:24" updateDate="2018-06-07T13:04:32" nodeName="Trabalhe Conosco" urlName="trabalhe-conosco" path="-1,1242,1274,1247" isDoc="" nodeType="1243" creatorName="Daione Pavan" writerName="Daione Pavan" writerID="0" template="1201" nodeTypeAlias="trabalheConosco" isPublished="true">
        <umbracoUrlAlias><![CDATA[trabalhe]]></umbracoUrlAlias>
        <pageKeywords><![CDATA[trabalhe-conosco]]></pageKeywords>
        <pageBreadcrumb>0</pageBreadcrumb>
        <title><![CDATA[Trabalhe Conosco]]></title>
      </trabalheConosco>
      <lojas id="1248" key="708c4b4f-cbe2-427e-8e20-4383bb65f079" parentID="1274" level="3" creatorID="0" sortOrder="2" createDate="2018-05-30T14:28:50" updateDate="2018-06-07T13:05:06" nodeName="Lojas" urlName="lojas" path="-1,1242,1274,1248" isDoc="" nodeType="1245" creatorName="Daione Pavan" writerName="Daione Pavan" writerID="0" template="1200" nodeTypeAlias="lojas" isPublished="true">
        <umbracoUrlAlias><![CDATA[lojas]]></umbracoUrlAlias>
        <pageKeywords><![CDATA[locais,como chegar,home,exclusivo,loja perto]]></pageKeywords>
        <pageBreadcrumb>1</pageBreadcrumb>
        <description><![CDATA[Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque ut aliquam tortor. Phasellus pharetra ligula leo, ac lobortis elit aliquet id. Proin bibendum ligula eros, ac imperdiet nisl dictum et. Donec vel justo diam. Sed orci erat, pharetra et metus ut, pellentesque pharetra ex.]]></description>
        <title><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit.]]></title>
        <lojaDetatlhe id="1255" key="ecc8deab-0813-4100-857b-2c1aaae4d78d" parentID="1248" level="4" creatorID="0" sortOrder="3" createDate="2018-05-30T17:23:37" updateDate="2018-06-07T13:05:06" nodeName="Loja Detalhe" urlName="loja-detalhe" path="-1,1242,1274,1248,1255" isDoc="" nodeType="1254" creatorName="Daione Pavan" writerName="Daione Pavan" writerID="0" template="1253" nodeTypeAlias="lojaDetatlhe" isPublished="true">
          <umbracoUrlAlias><![CDATA[ld]]></umbracoUrlAlias>
          <pageBreadcrumb>0</pageBreadcrumb>
        </lojaDetatlhe>
      </lojas>
    </conteudo>
    <conteudo id="1291" key="2ed9ac50-5f5f-4344-b24f-c40377384344" parentID="1242" level="2" creatorID="0" sortOrder="1" createDate="2018-06-07T12:36:25" updateDate="2018-06-07T12:36:25" nodeName="Conteudo da Home" urlName="conteudo-da-home" path="-1,1242,1291" isDoc="" nodeType="1269" creatorName="Daione Pavan" writerName="Daione Pavan" writerID="0" template="1268" nodeTypeAlias="conteudo" isPublished="true">
      <produto id="1289" key="9635b61c-c50d-48aa-81f2-427d95ac1c35" parentID="1291" level="3" creatorID="0" sortOrder="3" createDate="2018-06-07T12:09:03" updateDate="2018-06-08T10:51:49" nodeName="Produto" urlName="produto" path="-1,1242,1291,1289" isDoc="" nodeType="1285" creatorName="Daione Pavan" writerName="Daione Pavan" writerID="0" template="1288" nodeTypeAlias="produto" isPublished="true">
        <umbracoUrlAlias><![CDATA[p]]></umbracoUrlAlias>
        <pageKeywords><![CDATA[tipos de produtos,vestidos,bonés,calças]]></pageKeywords>
        <pageBreadcrumb>1</pageBreadcrumb>
        <description><![CDATA[sdadsda]]></description>
        <title><![CDATA[Produtos]]></title>
        <cards><![CDATA[[{"key":"80d55cf9-f275-4ddd-848c-8be6c2a430a9","name":"Item 1","ncContentTypeAlias":"productDetails","prodName":"Vestido 01","prodDescription":"dsdsda","prodValue":"R$ 20,00","imageProduct":"umb://media/78711f107f4d4b12a2ccb2ee8c76a420","category":"umb://document/a100a8af2d0c481a8e07a6f292d03705"},{"key":"10120dc0-68fb-4309-aa66-cd56904688f2","name":"Item 2","ncContentTypeAlias":"productDetails","prodName":"Boné 01","prodDescription":"dasdsda","prodValue":"R$ 30, 00","imageProduct":"umb://media/09df8a218e804ca088777bd4771655fc","category":"umb://document/ce89e26e9e3c44e4880f26b6f2e7e20b"}]]]></cards>
      </produto>
    </conteudo>
  </home>
  <produtos id="1292" key="f0372ffb-2fe9-409f-be9f-f32c8a9c8d76" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2018-06-07T12:41:19" updateDate="2018-06-07T12:41:19" nodeName="Produtos" urlName="produtos" path="-1,1292" isDoc="" nodeType="1262" creatorName="Daione Pavan" writerName="Daione Pavan" writerID="0" template="0" nodeTypeAlias="produtos" isPublished="true">
    <pageBreadcrumb>0</pageBreadcrumb>
    <categories id="1305" key="0d2b3313-c84b-4b57-be57-daf56853d69f" parentID="1292" level="2" creatorID="0" sortOrder="0" createDate="2018-06-07T13:28:59" updateDate="2018-06-08T17:13:21" nodeName="Roupas" urlName="roupas" path="-1,1292,1305" isDoc="" nodeType="1266" creatorName="Daione Pavan" writerName="Daione Pavan" writerID="0" template="0" nodeTypeAlias="categories" isPublished="true">
      <nameItemList id="1307" key="a100a8af-2d0c-481a-8e07-a6f292d03705" parentID="1305" level="3" creatorID="0" sortOrder="0" createDate="2018-06-07T13:32:37" updateDate="2018-06-07T16:36:03" nodeName="Vestido" urlName="vestido" path="-1,1292,1305,1307" isDoc="" nodeType="1300" creatorName="Daione Pavan" writerName="Daione Pavan" writerID="0" template="1299" nodeTypeAlias="nameItemList" isPublished="true">
        <itemName><![CDATA[Vestido]]></itemName>
      </nameItemList>
      <nameItemList id="1316" key="c49ebc18-e067-45db-814d-ec1f4468f626" parentID="1305" level="3" creatorID="0" sortOrder="1" createDate="2018-06-07T16:36:25" updateDate="2018-06-07T16:36:25" nodeName="Calça" urlName="calça" path="-1,1292,1305,1316" isDoc="" nodeType="1300" creatorName="Daione Pavan" writerName="Daione Pavan" writerID="0" template="1299" nodeTypeAlias="nameItemList" isPublished="true">
        <itemName><![CDATA[Calça]]></itemName>
      </nameItemList>
      <nameItemList id="1317" key="a26c800e-0c0e-445f-9785-f24aedfee444" parentID="1305" level="3" creatorID="0" sortOrder="2" createDate="2018-06-07T16:37:05" updateDate="2018-06-07T16:37:05" nodeName="Blusa" urlName="blusa" path="-1,1292,1305,1317" isDoc="" nodeType="1300" creatorName="Daione Pavan" writerName="Daione Pavan" writerID="0" template="1299" nodeTypeAlias="nameItemList" isPublished="true">
        <itemName><![CDATA[Blusa]]></itemName>
      </nameItemList>
      <nameItemList id="1322" key="1d7fe425-e590-4eb5-8394-363fea295245" parentID="1305" level="3" creatorID="0" sortOrder="3" createDate="2018-06-08T17:13:12" updateDate="2018-06-08T17:13:12" nodeName="F" urlName="f" path="-1,1292,1305,1322" isDoc="" nodeType="1300" creatorName="Daione Pavan" writerName="Daione Pavan" writerID="0" template="0" nodeTypeAlias="nameItemList" isPublished="true" />
    </categories>
    <categories id="1306" key="bfbb457e-3032-42f6-8c9c-4e287a9a2896" parentID="1292" level="2" creatorID="0" sortOrder="1" createDate="2018-06-07T13:29:10" updateDate="2018-06-07T16:55:34" nodeName="Acessórios" urlName="acessórios" path="-1,1292,1306" isDoc="" nodeType="1266" creatorName="Daione Pavan" writerName="Daione Pavan" writerID="0" template="0" nodeTypeAlias="categories" isPublished="true">
      <nameItemList id="1314" key="ce89e26e-9e3c-44e4-880f-26b6f2e7e20b" parentID="1306" level="3" creatorID="0" sortOrder="0" createDate="2018-06-07T16:12:55" updateDate="2018-06-07T16:41:17" nodeName="Boné" urlName="boné" path="-1,1292,1306,1314" isDoc="" nodeType="1300" creatorName="Daione Pavan" writerName="Daione Pavan" writerID="0" template="0" nodeTypeAlias="nameItemList" isPublished="true">
        <itemName><![CDATA[Boné]]></itemName>
      </nameItemList>
      <nameItemList id="1318" key="59da23b5-49f4-42ab-87ac-4ecb50937b3d" parentID="1306" level="3" creatorID="0" sortOrder="1" createDate="2018-06-07T16:37:21" updateDate="2018-06-07T16:37:21" nodeName="Pulseiras" urlName="pulseiras" path="-1,1292,1306,1318" isDoc="" nodeType="1300" creatorName="Daione Pavan" writerName="Daione Pavan" writerID="0" template="1299" nodeTypeAlias="nameItemList" isPublished="true" />
      <nameItemList id="1321" key="3e5626f0-bace-4c36-9c5f-85da81c77f6b" parentID="1306" level="3" creatorID="0" sortOrder="2" createDate="2018-06-07T16:40:11" updateDate="2018-06-07T16:40:11" nodeName="dfds" urlName="dfds" path="-1,1292,1306,1321" isDoc="" nodeType="1300" creatorName="Daione Pavan" writerName="Daione Pavan" writerID="0" template="1299" nodeTypeAlias="nameItemList" isPublished="true">
        <itemName><![CDATA[fsd]]></itemName>
      </nameItemList>
    </categories>
    <categories id="1319" key="d9c80179-7439-40b1-8aa1-11fd2dacf454" parentID="1292" level="2" creatorID="0" sortOrder="2" createDate="2018-06-07T16:38:26" updateDate="2018-06-07T16:38:48" nodeName="Calçados" urlName="calçados" path="-1,1292,1319" isDoc="" nodeType="1266" creatorName="Daione Pavan" writerName="Daione Pavan" writerID="0" template="0" nodeTypeAlias="categories" isPublished="true">
      <nameItemList id="1320" key="f40bf734-29e6-411c-970b-24d537010085" parentID="1319" level="3" creatorID="0" sortOrder="0" createDate="2018-06-07T16:39:01" updateDate="2018-06-07T16:39:01" nodeName="Sapato" urlName="sapato" path="-1,1292,1319,1320" isDoc="" nodeType="1300" creatorName="Daione Pavan" writerName="Daione Pavan" writerID="0" template="1299" nodeTypeAlias="nameItemList" isPublished="true">
        <itemName><![CDATA[Sapato]]></itemName>
      </nameItemList>
    </categories>
  </produtos>
</root>