<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT trabalheConosco ANY>
<!ATTLIST trabalheConosco id ID #REQUIRED>
<!ELEMENT novidades ANY>
<!ATTLIST novidades id ID #REQUIRED>
<!ELEMENT lojas ANY>
<!ATTLIST lojas id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
]>
<root id="-1">
  <home id="1077" key="04f1f386-9f52-4329-81ce-5570cb5ffd89" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2018-05-11T12:09:26" updateDate="2018-05-15T17:15:30" nodeName="Home" urlName="home" path="-1,1077" isDoc="" nodeType="1073" creatorName="Daione Pavan" writerName="Daione Pavan" writerID="0" template="1066" nodeTypeAlias="home" isPublished="true">
    <pageBreadcrumbCustom><![CDATA[SA]]></pageBreadcrumbCustom>
    <keywords><![CDATA[sa]]></keywords>
    <title><![CDATA[Title]]></title>
    <description><![CDATA[sas]]></description>
    <pageBreadcrumb>1</pageBreadcrumb>
    <imageLogo><![CDATA[[{"key":"4a50704b-c7c2-4244-a77c-cda97b46ff22","name":"Item 1","ncContentTypeAlias":"images","titleImage":"scdcsada","descriptionImage":"sdsd","image":"umb://media/5b3f1b127d614318af8720aebfeed221","internalLinkImage":"","externalLinkImage":""}]]]></imageLogo>
    <textHomeMain><![CDATA[[{"key":"b6df2992-b5a3-49aa-8909-cfd002204e20","name":"Item 1","ncContentTypeAlias":"mainText","textTitle":"dsa","textMainText":""}]]]></textHomeMain>
  </home>
  <lojas id="1163" key="de04a7c1-de68-4ac1-bf23-2309bd6c1098" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2018-05-15T16:44:54" updateDate="2018-05-15T17:15:46" nodeName="Lojas" urlName="lojas" path="-1,1163" isDoc="" nodeType="1152" creatorName="Daione Pavan" writerName="Daione Pavan" writerID="0" template="1166" nodeTypeAlias="lojas" isPublished="true">
    <pageBreadcrumb>0</pageBreadcrumb>
  </lojas>
  <novidades id="1164" key="6ad588a8-b751-45e6-b975-e5e2d73b5184" parentID="-1" level="1" creatorID="0" sortOrder="3" createDate="2018-05-15T16:45:13" updateDate="2018-05-15T17:15:53" nodeName="Novidades" urlName="novidades" path="-1,1164" isDoc="" nodeType="1151" creatorName="Daione Pavan" writerName="Daione Pavan" writerID="0" template="1168" nodeTypeAlias="novidades" isPublished="true">
    <pageBreadcrumb>0</pageBreadcrumb>
  </novidades>
  <trabalheConosco id="1165" key="4c9b6efe-23ee-4231-a1b6-df19a817e89c" parentID="-1" level="1" creatorID="0" sortOrder="4" createDate="2018-05-15T16:45:45" updateDate="2018-05-15T17:16:30" nodeName="Trabalhe Conosco" urlName="trabalhe-conosco" path="-1,1165" isDoc="" nodeType="1150" creatorName="Daione Pavan" writerName="Daione Pavan" writerID="0" template="1167" nodeTypeAlias="trabalheConosco" isPublished="true">
    <pageBreadcrumb>0</pageBreadcrumb>
  </trabalheConosco>
</root>