@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Loja.Util

@{

    <input type="text" id="search-clothes"  class="s6"/>
    <input type="button" value="Busque" />
    var products = Model.Content.GetPropertyValue<List<IPublishedContent>>("cards");
   
    foreach (var p in products)
    {


        var card = Util.Card(p);
        var c = Umbraco.TypedContent(card.Categories);


        if (card != null)
        {
            var name = card.Name;
            var description = card.Description;
            var value = card.Value;
            var image = card.Image;
            var src = image.Url;

            var categories = card.Categories;
            foreach(var cat in categories)
            {
                var categoria = cat.Id;


            }



                <div class="row">
                    <div class="col s6 m3">
                        <div class="card">
                            <div class="card-image">
                                <img src="@src" width="20" height="310" />
                            </div>
                            <div class="card-content">
                                <p>
                                    <span class="card-title">@name</span>
                                </p>
                            </div>
                            <div class="">
                                <a>@description</a>
                                <br />
                                <span id="value">
                                    @value
                                </span>
                            </div>

                        </div>
                    </div>
                </div>

         }

    }
}

