@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Loja.Util

@{




    var products = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("cards");




    foreach (var p in products)
    {
        if (Util.Card(p)!= null)
        {
            var name = p.GetPropertyValue<string>("prodName");
            var description = p.GetPropertyValue<string>("prodDescription");
            var value = p.GetPropertyValue<string>("prodValue");
            var image = p.GetPropertyValue<IPublishedContent>("imageProduct");
            var imageB = image.Url;
        



                <div class="row">
                    <div class="col s6 m3">
                        <div class="card">
                            <div class="card-image">
                                <img src="@imageB" width="20" height="310"/>

                            </div>
                            <div class="card-content">
                                <p>

                                    <span class="card-title">@name</span>


                                </p>
                            </div>
                            <div class="">
                                <a>@description</a>
                                <br />  
                                <span id="value">
                                    @value
                               </span>
                            </div>

                        </div>
                    </div>
                </div>

        }

    }
}

