@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Loja.Models





<footer class="page-footer brown darken-1 ">

    @{
        var h1 = Model.Content.GetPropertyValue<string>("titleFooter");


    }

   
    <div class="row">
        
            @if (Model.Content.Id != 1247)
            {
                Html.RenderPartial("~/Views/Partials/ContactUs.cshtml", new ContactUsModel());
            }
        


     

       

    </div>


    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>
