@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<div style=" background-image: url('');"></div>
<nav>

    <div class="nav-wrapper brown darken-1">
        @{ 
            var cont = Umbraco.TypedContent(uQuery.GetNodesByType("header").FirstOrDefault().Id);
            var linksHeader = cont.GetPropertyValue<IEnumerable<IPublishedContent>>("linksHeader");
            var logo = cont.GetPropertyValue<IPublishedContent>("logo").Url;
            var teste = Model.Content;

        }
        <a href="/" class="brand-logo"><img  src="@logo" width="120" height="62"/></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">

            @{
                foreach (var item in linksHeader)
                {
                    var i = item.GetPropertyValue<string>("title");
                    var link = item.GetPropertyValue<IPublishedContent>("internalLinks").Url.ToString();

                    if (i.Equals("Home")) { continue; }
                    else { <li><a href="@link">@i </a></li> }
                 }
            }
        </ul>
    </div>
</nav>



