#card-Home {
    position: relative;
    top: 1000px;
}

label{
    color:plum;
    height: 12px;
}

h3{
    color:plum;
}

.container {
    color:plum;
}

.row {
    color: plum;
}


.content-product {
    position: relative !important;
    left: 50% !important;
    top:initial;
    max-width: 50px !important;
}

#value{
    color: red !important;
    font-family: Arial, Helvetica, sans-serif; 
}

.center-cols > .col {
    float: none !inportant; /* disable the float */
    display: inline-block !inportant; /* make blocks inline-block */
    text-align: initial !inportant; /* restore text-align to default */

}

            
.mainTitle{
    position: relative; 
    top: 

}

.brand-logo{
    position: relative; 
    left: 50px; 
}
