@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Loja.Util
@using Loja.Models


<br>

<div class="row content-cards">

    @{
        var cont = Model.Content.Children;
        List<IPublishedContent> ProductList = new List<IPublishedContent>();
        List<Category> CategoryList = new List<Category>();
        var umbracoPage = Umbraco.Content(cont);



        foreach (var NodeCategories in cont)
        {
            var getNode = NodeCategories; 
            foreach (var Node in NodeCategories.Children)
            {

         
                var card = Loja.Util.Util.Card(Node);

                if (card != null)
                {
                    if (card.CategoryList != null)
                    {
                        foreach (var cat in card.CategoryList)
                        {


                            CategoryList.Add(cat);
                        }
                    }
                }
                ProductList.Add(Node);
                var name = card.Name;
                var description = card.Description;
                var value = card.Value;
                var imageProduct = card.Image;



             <div class="col s3">

                 <div class="card">
                     <div class="card-image">
                         <img src="@imageProduct" width="20" height="310" />
                     </div>
                     <div class="card-content">
                         <p>
                             <span class="card-title">@name</span>
                         </p>
                     </div>
                     <div class="">
                         <a>@description</a>
                         <br />
                         <span id="value">
                             @value
                         </span>
                     </div>

                 </div>

             </div>

            }

         }


     }

   </div>




