@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Loja.Models


<br>

<div class="row content-cards">
    @{
        var cont = Model.Content.Children;
        List<IPublishedContent> ProductList = new List<IPublishedContent>();
        List<string> CategoryList = new List<string>();
        var umbracoPage = Umbraco.Content(cont);

        foreach (var NodeCategories in cont)
        {
            var getNode = NodeCategories;
            foreach (var Node in NodeCategories.Children)
            {
                var card = Loja.Util.Util.Card(Node);

                if (card != null)
                {
                    if (card.Itens != null)
                    {
                        foreach (var cat in card.Itens.Categories)
                        {
                            CategoryList.Add(cat);
                        }
                    }
                }

                ProductList.Add(Node);
                var name = card.Name;
                var description = card.Description;
                var value = card.Value;
                var imageProduct = card.Image;
                
                <a href=""> 
                    <div class="col s3">
                        <div class="card">
                            <div class="card-image">
                                <img src="@imageProduct" width="20" height="310" />
                            </div>
                            <div class="card-content">
                                <p>
                                    <span class="card-title">@name</span>
                                </p>
                            </div>
                            <div class="">

                                <a>@description</a>
                                <br />

                                <span id="value">
                                    @value
                                </span>
                            </div>
                            <br />
                            <br />
                        </div>
                    </div>
                </a>
            }
        }
    }

</div>


<script src="~/Scripts/pages/cardDescriptionClothes.js">
</script>

