@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Loja.Models;
@using Loja.Util;

<div class="row content-cards">
    @Html.Raw(new ProductUtil().ListToCardProducts(new ProductUtil().ListProduct(Model.Content.Children.ToList()))));
</div>

<script src="~/Scripts/pages/cardDescriptionClothes.js"></script>

