@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Loja.Util;
@using Loja.Models;
<div>
    <div id="renderCardsStoreFisical">
        @Html.Raw((new ClientUtil().RenderCardsFisicalList(new ClientUtil().MainCardsFisical(Model.Content))));
    </div>
</div>

