@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

                @{
                    var titleHome = Model.Content.GetPropertyValue<string>("dTitle");

                    var descriptionHome = Model.Content.GetPropertyValue<IHtmlString>("descriptionThings"); 

                    <h1>@titleHome</h1>

                    <div class="row" >
                        <div class="col s12 m5">
                           
                            <div class="card-panel pink accent-4">
                                <span class="white-text">
                                    @descriptionHome
                                </span>
                            </div>
                        </div>
                    </div>

                }
