@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{Layout = "Master.cshtml";}

@{
    var title = Model.Content.GetPropertyValue<MvcHtmlString>("title");
}

@{
    var Page = Loja.Util.Util.FindParent(Model.Content);

}

<h1>@title</h1>

