@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Loja.Models

@{
    Layout = "Master.cshtml";
}
<div style="position: relative; left:150px; color: saddlebrown" class="workWithUs">


</div>

<div>
    @{
        Html.RenderPartial("~/Views/Partials/WorkWithUsP.cshtml", new WorkWithUsModel());
    }


    </div>